* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 40px 2%;
    background-image: url(../assets/bckg.png);
    background-size: cover;
    background-position: center;
    min-height: 800px;
    width: 100%;
    height: 90vh; /* 90% com base no tamanho da tela */
    /* Pode ser usado em qualquer momemento, independente de estar 
    dentro de uma div ou não - não tem herança 
    (única herança é o tamanho da tela)*/
}

header nav {
    float: right;
}

nav.mobile-menu {
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../assets/menu.png);
    background-size: 100% 100%;
}

nav.mobile-menu ul {
    display: none;
    background-color: rgba(131,95,167,0.4);
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li {
    transition: 0.4s;
}

nav.mobile-menu ul li:hover {
    background-color: rgba(43, 7, 80, 0.4);
}

nav.mobile-menu ul li a {
    padding: 8px 0;
    text-decoration: none;
    color: white;
    display: block;
}

header .logo {
    position: relative;
    top: -5px;
    float: left;
    width: 160px;
    height: 80px;
    background-image: url(../assets/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

header nav.desktop-menu ul {
    list-style-type: none;
}

header nav.desktop-menu li {
    float: left;
    padding: 0 20px;
}

header li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.call-1 {
    max-width: 600px;
    float: right;
    margin: 140px 120px;
}

.call-1 h2 {
    font-size: 40px;
    color: white;
    font-weight: normal;
}

.call-1 p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

section.section-1 {
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
    height: 400px;
}

section.section-1 .container {
    max-width: 1000px;
    height: calc(100% + 30px);
}

.text-section-1 {
    float: left;
    width: 50%;
    position: relative;
    left: 65px;
    color: white;
    margin-top: 60px;
    padding-left: 80px;
}

.text-section-1 h2 {
    font-weight: bold;
    font-size: 26px;
}

.text-section-1 p {
    margin-top: 20px;
    font-size: 15px;
}

.text-section-1 ul {
    list-style-position: outside;
    font-size: 15px;
    padding-left: 15px;
    margin-top: 20px;
}

.text-section ul li {
    float: left;
    width: 100%;
    margin-top: 8px;
}

.device-section-1 {
    float: left;
    width: 50%;
    position: relative;
    top: -30px;
    height: 100%;
    background-image: url(../assets/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn-1-text {
    background-color: #FF703B;
    width: 165px;
    height: 44px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    line-height: 44px; /* centralizar na vertical */
    border-radius: 30px;
}

.section-2 {
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;
}

.section-2 .container {
    max-width: 1000px;
}

.section-2 h2 {
    font-weight: 300;
}

.section-2 p {
    margin-top: 30px;
    max-width: 600px;
    display: inline-block; /* é necessário pois por padrão o display é block */
}

.section-2 h2 p {
    color: #472663;
}

.section-2 img {
    position: relative;
    top: 60px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 20px 20px 20px 5px rgba(0,0,0,0.2);
    z-index: 1;
}

.section-3 {
    width: 100%;
    position: relative;
    top: -20px;
}

.part-1 {
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    padding-bottom: 200px;
    background-color: #835FA7;
}

.part-1 h2 {
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}

.part-1 p {
    font-size: 15px;
    line-height: 35px;
    margin-top: 10px;
}

.wraper-part-1 {
    max-width: 600px;
    float: right;
    padding: 0 30px;
}

.part-2 {
    float: left;
    width: 50%;
    padding:140px 0 90px 0;
    background-color: white;
}

.scroll-team {
    max-width: 600px;
    padding-left: 30px;
    overflow: hidden;
}

.scroll-wrapper {
    width: 100%;
}

.about-author {
    float: left;
    width: 100%;
}

.author-title {
    float: left;
    width: 100%;
}

.wraper-author-title {
    float: left;
}

.author-title h2 {
    padding-right: 20px;
    color: #232323;
    font-weight: 400;
    font-size: 23px;
}

.author-title p {
    font-size: 13px;
    color: #232323;
    font-style: italic;
    font-weight: 300;
}

.author-title .author-img {
    float: left;
    width: 38px;
    height: 38px;
    position: relative;
    border-radius: 19px;
}

.author-title .one {
    background-image: url(https://i.pinimg.com/originals/58/df/ae/58dfae343c0b0078546f3efda94e8cda.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.author-title .two {
    background-image: url(https://static.wikia.nocookie.net/hunterxhunter/images/2/29/Hisoka_Morow_YC_Portrait.png/revision/latest?cb=20190123172039);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.author-title .three {
    background-image: url(https://static.wikia.nocookie.net/hunterxhunter/images/9/9e/HxH2011_EP53_Shizuku_Portrait.png/revision/latest?cb=20230122061315);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.author-text {
    float: left;
    width: 100%;
    margin-top: 10px;
    padding-right: 30px;
}

.author-text p {
    color: #232323;
    font-size: 15px;
}

section.section-4 {
    background-color: #472563;
    padding: 120px 5%;
    position: relative;
    top: -100px;
}

.form {
    float: left;
    width: 50%;
    color: white;
}

.form h2 {
    font-size: 23px;
    font-weight: 300;
}

.form p {
    font-size: 15px;
    font-weight: 300;
    max-width: 400px;
    padding-right: 30px;
}

.form form {
    margin-top: 8px;
}

.form form input[type=text] {
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    height: 58px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200,200,200);
}

.form form textarea {
    width: 90%;
    margin-top: 8px;
    max-width: 480px;
    padding: 15px 8px;
    border: 1px solid rgb(200,200,200);
    height: 230px;
}

.form form input[type=submit] {
    background-color: #FF703B;
    width: 165px;
    height: 44px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    border-radius: 30px;
    border: 0;
}

.map-wraper {
    float: left;
    width: 50%;
    color: white;
    padding-left: 90px;
}

.map-wraper h2 {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 16px;
}

.map {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.map-wraper-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    padding-top: 90%;
    background-color: white;
    border: 5px solid rgb(200,200,200);
}

.map-wraper-3 {
    margin-top: 10px;
    width: 100%;
    max-width: 480px;
    position: relative;
}

footer {
    padding: 40px 2%;
    background-color: #192123;
    color: white;
    position: relative;
    top: -100px;
}

footer p:nth-of-type(1) {
    float: left;
    font-size: 14px;
}

footer p:nth-of-type(2) {
    float: right;
    font-size: 14px;
}

header .container :where(.call-2) {
    max-width: 900px;
    margin: 180px auto;
    text-align: center;
}

header .container :where(.call-2 h2) {
    font-size: 40px;
    color: white;
    font-weight: normal;
}

header .container :where(.about-slider, .services-slider) {
    text-align: center;
}

header .container :where(.about-slider, .services-slider) input {
    width: 100%;
    text-align: center;
    font-size: 60px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

section.services-desc {
    width: 100%;
    background-color: #472562;
    padding: 0 4%;
}

section.services-desc .container {
    max-width: 1000px;
}

section.services-desc .container .desc-text {
    text-align: center;
}

section.services-desc .container .desc-text h2 {
    padding: 8px;
}

section.services-desc .container .desc-text:nth-of-type(1) {
    padding-top: 40px;
}

section.services-desc .container .desc-text:nth-of-type(3) {
    padding-bottom: 40px;
}

section.services-desc .container .desc-text p {
    text-align: left;
    padding: 20px;
}

section.services-desc .container .desc-text :where(h2, p) {
    color: white;
}

section.our-tech {
    width: 100%;
    padding: 0 4%;
}

section.our-tech .container {
    max-width: 900px;
    margin: 40px auto;
}

section.our-tech .container .tech-text {
    text-align: center;
    margin-bottom: 20px;
}

section.our-tech .container .techs-img {
    display: block;
}

section.our-tech .container .techs-img .img-tech {
    text-align: center;
}

section.our-tech .container .techs-img .img-tech img {
    width: 64px;
    height: 64px;
    margin: 20px;
}

section.web-tech {
    width: 100%;
}

section.web-tech .tech-wrapper {
    display: flex;
    text-align: center;
    margin-bottom: 90px;
}

section.web-tech .tech-wrapper .front-tech {
    width: 50%;
    background-color: #ccc;
}

section.web-tech .tech-wrapper .back-tech {
    width: 50%;
    background-color: #835FA7;
}

section.web-tech .tech-wrapper h2 {
    margin-bottom: 10px;
}

section.web-tech .tech-wrapper p {
    font-size: 16px;
    text-align: left;
}

section.web-tech .tech-wrapper .back-tech h2, .back-tech p {
    color: white;
}

section.web-tech .tech-wrapper :where(.front-tech, .back-tech) {
    padding: 40px 4%;
}

section.about-desc {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://images.template.net/93389/white-aesthetic-background-l6pow.png);
    animation: animate 10s linear infinite;
}

section.about-desc .container {
    max-width: 1000px;
    padding: 40px 4%;
}

section.about-desc .container .about-text-wrapper {
    display: flex;
    margin-bottom: 100px;
}

section.about-desc .container .about-text-wrapper .about-text {
    width: 50%;
}

section.about-desc .container .about-text-wrapper .wrapper-side {
    width: 50%;
}

section.about-desc .container .about-text-wrapper .about-text h2 {
    margin-bottom: 8px;
}

/* */

.slick-dotted ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.slick-dotted li {
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted li button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #d8d8d8;
    border-width: 0;
    background-color: #d8d8d8;
    opacity: 1;
    cursor: pointer;
}

.slick-dotted button:focus {
    outline: 0;
}

li.slick-active button {
    background-color: #835FA7;
    color: #835FA7;
}

.slick-slide:focus {
    outline: none;
}

@media screen and (max-width: 1100px) {

    header {
        padding: 40px 2%;
        width: 100%;
        height: auto;
        min-height: 90vh;
    }

    nav.desktop-menu {
        display: none;
    }

    nav.mobile-menu {
        display: block;
    }

    .call-1 {
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 100px 0;
    }
    
    .call-1 h2 {
        font-size: 30px;
        color: white;
        font-weight: normal;
    }
    
    .call-1 p {
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
    
    section.section-1 {
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .text-section-1 {
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        position: static;
        float: none;
        display: inline-block;
    }

    .text-section-1 ul {
        display: inline-block;
        margin-top: 20px;
    }

    .text-section-1 ul li {
        float: none;
        text-align: left;
    }

    .btn-1-text {
        display: inline-block;
    }

    .device-section-1 {
        display: none;
    }

    .section-2 {
        padding: 40px 2%;
    }

    section.section-4 {
        background-color: #472563;
        padding: 100px 5%;
        position: relative;
        top: -50px;
    }

    section.section-4 .container {
        text-align: center;
    }

    section.web-tech .tech-wrapper {
        margin-bottom: 50px;
    }

    .map-wraper {
        float: none;
        width: 100%;
        padding: 0 4%;
        margin-top: 40px;
    }

    .form {
        margin-top: -20px;
        float: none;
        width: 100%;
        padding: 0 4%;
    }

    .form p {
        display: inline-block;
    }

    .map-wraper-3 {
        margin-top: 10px;
        width: 80%;
        padding-top: 80%;
        display: inline-block;
        max-width: none;
        position: relative;
    }

    .map-wraper-2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 0;
    }

    header .container :where(.call-2) {
        margin: 90px auto;
    }

    header .container :where(.call-2 h2) {
        font-size: 35px;
    }
}

@media screen and (max-width: 830px) {
    header .container :where(.call-2 h2) {
        font-size: 25px;
    }

    header .container :where(.about-slider, .services-slider) input {
        font-size: 50px;
    }

    section.web-tech .tech-wrapper {
        display: inline-block;
    }

    section.web-tech .tech-wrapper .front-tech {
        width: 100%;
        text-align: left;
    }
    
    section.web-tech .tech-wrapper .back-tech {
        width: 100%;
        text-align: left;
    }

    section.about-desc .container .about-text-wrapper {
        display: inline-block;
    }
    
    section.about-desc .container .about-text-wrapper .about-text {
        width: 100%;
    }

    section.about-desc .container .about-text-wrapper .about-text h2 {
        margin-bottom: 4px;
    }

    section.about-desc .container .about-text-wrapper .about-text p {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {

    header .container :where(.about-slider, .services-slider) input {
        font-size: 40px;
    }

    .part-1 {
        width: 100%;
        padding: 40px 0;
    }
    
    .part-2 {
        width: 100%;
        padding: 40px 0;
    }

    .section-2 img {
        top: 16px;
        margin-top: 20px;
    }

    footer {
        text-align: center;
    }
    
    footer p:nth-of-type(1) {
        float: none;
    }
    
    footer p:nth-of-type(2) {
        float: none;
        margin-top: 10px;
    }
}

@media screen and (max-width: 467px) {

    header .container :where(.about-slider, .services-slider) input {
        font-size: 25px;
    }
}

@keyframes animate  {
    0% {
        background-position: left;
    }

    25% {
        background-position: center;
    }

    50% {
        background-position: right;
    }

    75% {
        background-position: center;
    }

    100% {
        background-position: left;
    }

}
